In [3]:
#pip install pandas
import pandas as pd

In [4]:
mydataset = {
    'cars':["BMW","AUDI","BENZ"],
    'passing':[3,7,2]
}

b1 = pd.DataFrame(mydataset)

print(b1)

   cars  passing
0   BMW        3
1  AUDI        7
2  BENZ        2

In [6]:
print(pd.__version__)

1.5.3

Series - It is a one-dimensional array holding data of any type.

In [7]:
a=[2,5,7]
var =pd.Series(a)
var

0    2
1    5
2    7
dtype: int64

In [10]:
a = [1, 7, 2]
myvar = pd.Series(a, index = ["x", "y", "z"])
print(myvar)
print(myvar["y"])
#In this the index are labels which are reffered to acces the elements

x    1
y    7
z    2
dtype: int64
7

In [9]:
#As of in dataframe we can create it in series and it can be accesed by keys and values

calories = {"day1": 420, "day2": 380, "day3": 390}
myvar = pd.Series(calories)

print(myvar)

day1    420
day2    380
day3    390
dtype: int64

In [11]:
calories ={"day_1" : 420,"day_2":300,"day_3":390}
myvar = pd.Series(calories,index = ["day_1","day_2"])

In [20]:
#refer to the row index:
print(b1.loc[0])
print(b1.loc[0:2])

   cars  passing
0   BMW        3
1  AUDI        7
2  BENZ        2

In [21]:
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}
b2 = pd.DataFrame(data,index =["day1","day2","day3"])
b2

In [ ]:
df = pd.read_csv('data.csv')
df['Date'] = pd.to_datetime(df['Date'])#changes to datetime of date object
print(df.to_string())

In [ ]:
df.dropna(subset=['Date'], inplace = True) # drop rows whose date is null

In [ ]:
df.loc[7, 'Duration'] = 45

In [ ]:
for x in df.index:
  if df.loc[x, "Duration"] > 120:
    df.loc[x, "Duration"] = 120

In [ ]:
for x in df.index:
  if df.loc[x, "Duration"] > 120:
    df.drop(x, inplace = True)

#The (inplace = True) will make sure that the method does NOT return a new DataFrame, but it will remove all duplicates from the original DataFrame.